@charset "utf-8";

/* webapp/resources/css/style.css */
/* http://localhost:8080/day08/resources/css/style.css */

body {
	width: 100%;
	overflow-x: hidden;
}
div, span, header, nav, main, section, article, footer, aside {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
.btn {
	display: block;
	min-width: 120px; height: 40px; line-height: 40px; text-align: center;
	background-color: darkgrey;
	color: black;
	font-size: 14px;
	font-weight: bold;
	transition-duration: 0.5s;
	border: 0;
	margin: auto;
}
.btn:hover {
	text-decoration: none;
	background-color: black;
	color: white;
	transition-duration: 0.5s;
}
.ffc, .ffw, .ffr, .jcfs, .jcce, .jcfe, .jcsb, .aifs, .aice, .aife {
	display: flex;
}
.ffc { flex-flow: column;}
.ffw { flex-flow: wrap;}
.ffr { flex-flow: row;}
.jcfs { justify-content: flex-start;}
.jcce { justify-content: center;}
.jcfe { justify-content: flex-end;}
.jcsb { justify-content: space-between;}
.aifs { align-items: flex-start;}
.aice { align-items: center;}
.aife { align-items: flex-end;}
nav > ul {
	padding: 0;
	width: 800px;
	margin: auto;
	list-style: none;
}
h1 {
	text-align: center;
}
table th {
	padding: 0;
}